PORT=3000
DATABASE_PATH=./database.db
ADMIN_PASSWORD=admin1234
ZIVPN_CONFIG_PATH=/etc/zivpn/config.json
BOT_PM2_NAME=whatsapp-bot
BOT_LOGS_OUT_PATH=/home/ubuntu/.pm2/logs/whatsapp-bot-out.log
BOT_LOGS_ERR_PATH=/home/ubuntu/.pm2/logs/whatsapp-bot-error.log
EGRESS_LIMIT_GB=100
N8N_PORT=5678
N8N_LOG_PATH=/home/ubuntu/.pm2/logs/n8n-out.log
N8N_ERR_PATH=/home/ubuntu/.pm2/logs/n8n-error.log
HERMES_LOG_PATH=/home/ubuntu/.hermes/logs/hermes-tunnel.log
